@import '../style';

body main {
  margin: 0;
}

@mixin popup {
  display: none;
  position: absolute;

  padding: .3em;

  z-index: 1;

  background-color: darken($background-color, 5);
  border: 3px SOLID #2d2d2d;
  border-radius: .2em;
}

$line-height: 25px;
$border-nosize: SOLID $second-color;

$color-justifiee: #1bee00;
$color-absence: red;
$color-retard: orange;
$color-controle: rebeccapurple;
$color-infirmerie: cyan;

$color-line1: $background-color;
$color-line2: darken($background-color, 20);

#color-code {
  margin-bottom: 1em;

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 70%;

    li::after {
      content: '';
      display: inline-block;
      position: relative;
      top: 2px;
      width: 15px;
      height: 15px;
      border: 1px $border-nosize;
      margin-left: 5px;
    }

    li:nth-child(1)::after { background: linear-gradient(to right, $color-line1 50%, $color-line2 50%); }
    li:nth-child(2)::after { background-color: $color-justifiee; }
    li:nth-child(3)::after { background-color: $color-absence; }
    li:nth-child(4)::after { background-color: $color-retard; }
    li:nth-child(5)::after { background-color: $color-controle; }
    li:nth-child(6)::after { background-color: $color-infirmerie; }
  }
}

#absences_table {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  margin-bottom: 2.5em;
}

#table_static {
  min-width: 16em;
  border-right: 2px $border-nosize;
  z-index: 2;

  background-color: $background-color;

  > .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    overflow: visible;
  }

  > div:last-child {
    border-bottom: 2px $border-nosize;
  }

  > h1 {
    border-bottom: 2px $border-nosize;
    line-height: 2*$line-height;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    color: $foreground-color;
  }
}

#table_group_list {
  width: 10%;

  p {
    max-width: 20px;
    padding-left: 8px;
    margin: auto;

    word-wrap: break-word;
    letter-spacing: 20px;

    overflow: hidden;

    &:not(:first-child) {
      border-top: 2px $border-nosize;
    }
  }
}

#table_stud_list {
  width: 90%;

  .group-change {
    border-top: 1px $border-nosize;
  }

  > div {
    position: relative;
    height: $line-height;
    line-height: $line-height;

    &:not(:last-of-type) {
      border-bottom: 1px $border-nosize;
    }

    &:nth-child(odd) {
      background-color: $color-line2;
    }

    p {
      flex-basis: 7em;
      padding-left: 5px;

      font-size: 1em;

      white-space: nowrap;
      overflow: hidden;

      + img {
        $image-width: 16px;
        position: absolute;
        right: $image-width / 4;
        top: ($line-height - $image-width) / 2;
        width: $image-width;

        cursor: pointer;
      }
    }

    > div {
      @include popup();

      right: 0;
      text-align: center;
    }
  }
}

#table-wrapper {
  overflow: auto;

  table {
    border-spacing: 0;
    border-collapse: collapse;

    .group-change {
      border-top: 2px $border-nosize;
    }

    td {
      position: relative;
      height: $line-height;
      font-size: 1em;
      border-right: 1px $border-nosize;

      div {
        @include popup();

        top: 10px;
        left: 20px;
        min-width: 170px;

        p:not(:last-child) {
          color: $text-color;
        }
      }
    }

    thead {
      text-align: center;
      border-bottom: 2px $border-nosize;

      tr:first-child td {
        border-right: 2px $border-nosize;
      }

      td {
        min-width: 1em;
        padding: 0 .2em;
        border-right: 1px $border-nosize;

        &:last-child {
          border-right: 2px $border-nosize;
        }
      }

      .first_month_day:not(:first-of-type) {
        border-left: 2px $border-nosize;
      }
    }

    tbody {
      tr {
        border-bottom: 1px $border-nosize;

        &:last-child {
          border-bottom: 2px $border-nosize;
        }

        &:nth-child(2n+1) {
          background-color: $color-line2;
        }
      }

      th {
        text-align: left;
      }
    }

    td.abs-justifiee {
      background-color: $color-justifiee;
    }

    .abs-absence {
      background-color: $color-absence;
      color: $color-absence;
    }

    .abs-retard {
      background-color: $color-retard;
      color: $color-retard;
    }

    .abs-infirmerie {
      background-color: $color-infirmerie;
      color: $color-infirmerie;
    }

    .abs-controle {
      background-color: $color-controle;
      color: $color-controle;
    }

    td[class^="abs-"] {
      cursor: pointer;
    }
  }

  table#header-fixed {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;

    background-color: $background-color;
  }
}
