@import '../style';

$line-height: 21px;
$border-color: #a0a0a0;

$color-justifiee: #1bee00;
$color-absence: #f7171b;
$color-retard: #eb9a0e;
$color-controle: #010dfd;
$color-infirmerie: #02fca1;
$color-mix: #b203fd;

@mixin popup() {
  @extend .white;
  display: none;
  position: absolute;

  padding: .3rem .5rem;

  z-index: 10;

  p {
    margin: 0;
  }
}

.big-border {
  border-width: 2px;
}

#color-code {
  overflow: auto;

  li {
    @extend .col;

    &::after {
      content: '';
      display: inline-block;

      position: relative;
      top: 2px;

      width: 15px;
      height: 15px;
      border: 1px solid $border-color;
      margin-left: 5px;
	}

    &:nth-child(1)::after { background-color: $color-justifiee; }
    &:nth-child(2)::after { background-color: $color-absence; }
    &:nth-child(3)::after { background-color: $color-retard; }
    &:nth-child(4)::after { background-color: $color-controle; }
    &:nth-child(5)::after { background-color: $color-infirmerie; }
    &:nth-child(6)::after { background-color: $color-mix; }
  }
}

#table-static {
  @extend .white;

  position: relative;
  z-index: 2;

  border-right: 2px solid $border-color;
}

#table-group-list p {
  max-width: 15px;
  margin: 0 auto;

  word-wrap: break-word;
  letter-spacing: 15px;

  overflow: hidden;
}

#table-stud-list {
  @extend .truncate;

  > div {
    box-sizing: content-box;
    position: relative;
    height: $line-height;
    border-top: 1px solid $border-color;

    &.group-change, &:first-child {
      @extend .big-border;
    }

    &:last-child {
      border-bottom: 2px solid $border-color;
    }

    &:nth-child(odd) {
      background-color: $table-striped-color;
    }

    > p {
      display: inline-block;
      margin: 0;
	}

    > i {
      position: absolute;
      right: 0;
      font-size: 20px;
      cursor: pointer;
	}

    > div {
      @include popup();
      right: 0;

      border: 1px solid darken($border-color, 15);
	}
  }
  
}

#table-wrapper {
  overflow: auto;
}

table {
  table-layout: fixed;
  margin-top: -18px;

  td {
    @extend .center-align, .no-padding;
    height: $line-height;
    width: 40rem;
    font-size: 1rem;
    border-right: 1px solid $border-color;
  }

  thead {
    border-bottom: 2px solid $border-color;
  }

  tbody {
    tr {
      box-sizing: content-box;
      border-top: 1px solid $border-color;

      &.group-change {
        @extend .big-border;
      }

      &:last-child {
        border-bottom: 2px solid $border-color;
      }
    }

    td {
      position: relative;

      &.abs {
        cursor: pointer;
      }

      > div {
        @include popup();

        left: 25px;
        min-width: 170px;

        border: 3px solid darken($border-color, 15);

        z-index: 10;

        > p {
          white-space: nowrap;
          word-break: keep-all;

          &:nth-child(3) {
            font-weight: bold;
          }
        }

        &:nth-child(1) {
          top: 10px;
        }
        &:nth-child(2) {
          top: 100px;
        }

        &.abs-absence p:last-child {
          color: $color-absence;
        }
        &.abs-retard p:last-child {
          color: $color-retard;
        }
        &.abs-controle p:last-child {
          color: $color-controle;
        }
        &.abs-infirmerie p:last-child {
          color: $color-infirmerie;
        }

      }

      &.abs-justifiee {
        background-color: $color-justifiee !important;
      }
      &.abs-absence {
        background-color: $color-absence;
      }
      &.abs-retard {
        background-color: $color-retard;
      }
      &.abs-infirmerie {
        background-color: $color-infirmerie;
      }
      &.abs-controle {
        background-color: $color-controle;
      }
      &.abs-several {
        background-color: $color-mix;
      }
    }
  }
}

#header-fixed {
  @extend .white;
  display: none;
  position: fixed;
  top: 0;

  margin-top: 0;
  z-index: 1;
}

#edition {
  @extend .center-align;
  min-height: 84%;

  section {
    > div.header {
      color: $primary-color;
      padding-bottom: 6px;
      border-bottom: 2px dashed;

      > h4 {
        display: inline;
      }

      > i {
        @extend .black-text;
        cursor: pointer;
      }
    }

    div {
      margin-bottom: 1rem;

      &.input-field {
        margin-top: 2rem;
      }

      &:not(.header) {
        @extend .left-align;
      }
    }
  }

  #am-time, #pm-time {
    $opt-height: 50px;
    $opt-border: 6px;
    $opt-color: #b1acac;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: $opt-height * 2;

    p {
      @extend .truncate;
      box-sizing: border-box;
      width: 50%;
      height: $opt-height;
      line-height: $opt-height - $opt-border;
      border: $opt-border groove $opt-color;
      margin: 0;
      background-color: transparentize($opt-color, .8);

      text-align: center;
      font-size: 14px;
      font-weight: bold;

      cursor: default;

      &:first-child {
        width: 100%;
      }

      &.active {
        border-color: $primary-color;
      }
    }
  }
}