@import '../style';

.table-scrollable {
    display:block;
    white-space: nowrap;
    overflow-x: auto;
    /* hack to let the dropdown overflow the table */
    padding-bottom: 350px;
    margin-bottom: -350px;
}

table i {
   vertical-align: middle;
}


.tooltip {

    position: relative;
    display: inline-block;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: $secondary-color;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;

        &::after {
            content: " ";
            position: absolute;
            bottom: 100%;  /* At the top of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent $secondary-color transparent;
        }
    }

    &:hover .tooltiptext{
        visibility: visible;
    }
}
