@import 'materialize';
@import 'components/notifications';

#debug {
  @extend .grey, .lighten-2;
  display: none;
  margin-left: 7px;
}

#debug-toolbar {
  display: none;
}

body > header > nav {
  .brand-logo {
    margin-left: 8px;
  }

  h2 {
    text-align: center;
    font-size: 2.46rem;
  }
}

.hide-on-med-and-down ul.dropdown-content li {
  @extend .center-align;
  line-height: 200%;

  & > *:not(a) {
    margin-left: 8px;
    margin-right: 8px;
  }
}
