@import '../materialize';

html, body, main > * {
  height: 100%;
}

main {
  // Should be 100% - headerHeight
  height: 90%;
}

#side-edt-large {
  @extend .center-align;
  height: 100%;
  margin-top: 15px;

  > .card-content {
    height: 100%;
  }

  $hourCount: 10;
  .row {
    height: calc(100% - 32px);

    > .hours {
      display: flex;
      height: 100%;
      flex-direction: column;

      > * {
        height: 100% / $hourCount;

        &:nth-child(odd) {
          font-weight: 500;
        }

        &:nth-child(even) {
          font-size: 11px;
        }
      }
    }

    > .content {
      height: 100%;
      padding-bottom: 50% / $hourCount;

      > div {
        overflow: hidden;
        padding: 10px 8px;
        border-bottom: 1px solid $table-border-color;

        &:first-child {
          border-top: 1px solid $table-border-color;
        }

        > * {
          @extend .truncate;
        }

        h5 {
          @extend .no-margin;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

  }

}
