/* BODY */
/* http://localhost/tests/formulaire.php */


#logo{
	
    width: 140px;
    height: 140px;
	margin-left: 35%;
	margin-top: 10%;
	
}

.icone{
	
    width: 38px;
    height: 38px;
	margin-left: 10%;
	vertical-align: middle;
	
	
}

.texte{
	
	margin-left: 1em;
	
}

#seConnecter{
	
	margin-top: 10%;
	margin-left: 42%;
	
}

#password{
	
	margin-top: 3em;
	
	
}

#formulaire{
	
	margin-top: 7%;
	
}

#conteneur{
	
	display: flex;
	width: 70%;
	height: 32em; 
	margin-top: 5em;
	margin-left: 15%;
	
}


#rectangleGauche{
	
	border: 1.5px solid black;
	width: 50%;

	
}

#rectangleDroit{
	
	border : 1.5px solid black;
	border-left: none;
	width: 50%;

}
