/* BODY */
/* http://localhost/tests/formulaire.php */


#conteneur{
	
	display: flex;
	width: 65%;
	height: 32em; 
	margin-top: 5em;
	margin-left: 15%;
	
}

#logo{
	
    width: 180px;
    height: 180px;
	margin-left: 35%;
	margin-top: 10%;
	
}

.icone{
	
    width: 40px;
    height: 40px;
	margin-left: 10%;
	vertical-align: middle;
	
	
}

.texte{
	
	margin-left: 1.5em;
	height: 2em;
	width: 15em;
	
}

#seConnecter{
	
	margin-top: 10%;
	margin-left: 42%;
	height: 2.5em;
	width: 8em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 4px;
	
	
}

#password{
	
	margin-top: 3em;
	
	
}

#formulaire{
	
	margin-top: 7%;
	
}

#rectangleGauche{
	
	border: 1.5px solid black;
	width: 50%;

	
}

#rectangleDroit{
	
	border : 1.5px solid black;
	border-left: none;
	width: 50%;

}
