@import 'style';

$bradius: 10px;
$edt-back-color: rgba(0, 0, 0, .02);
$shadow-color: rgba(0, 0, 0, .04);

#edt-view {

  display: flex;
  flex-flow: row nowrap;
  height: 80%;

  position: absolute;
  top: 10%; right: 3%;

  color: $second-color;
  background-color: $edt-back-color;
  border-radius: $bradius;

  #edt-time-container {
    padding-top: 50px;

    text-align: center;
    border-radius: $bradius 0 0 $bradius;
    box-shadow: 3px 0 3px $shadow-color;
    background-color: $edt-back-color;

    .column-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100%;

      padding-left: 5px;
      padding-right: 5px;

      box-shadow: 0 -3px 3px $shadow-color;

      p {
        font-size: 16px;
        font-weight: bold;
      }
    }

  }

  #edt-content {
    width: 315px;
    text-align: center;

    #edt-day-title {
      height: 5%;

      // if you find a best way to center vertically
      // replace this and do it
      padding-top: 10px;

      font-size: 20px;
      box-shadow: 0 3px 3px $shadow-color;
      background-color: $edt-back-color;
      border-radius: 0 $bradius 0 0;
    }

    .column-content {

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      height: 93%;

      .error {
        font:  bold 18px $title-font;
      }

      .edt-item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        width: 100%;
        background-color: $edt-back-color;

        box-shadow: 0 2px $shadow-color;
        &:last-of-type {
          box-shadow: 0 3px 3px $shadow-color;
        }

        h2 {
          font-size: 18px;
          margin-bottom: 8px;
        }

        p {
          font-size: 18px;
          line-height: 18px;

          img {
            width: 18px;
          }
        }
      }

    }

  }

}