@import "var";

$bradius: 10px;
$edt-back-color: rgba(0, 0, 0, .02);
$shadow-color: rgba(0, 0, 0, .04);

@media screen and (min-width: $device-break) {

  main { width: 70%; }

  #edt-view-mobile { display: none; }
  #edt-view-computer {

    display: flex;
    flex-flow: row nowrap;
    height: 85%;
    width: 20%;

    position: absolute;
    top: 10%;
    // Match "account" icon in header with
    // margin * 2 + width
    right: .9em * 2 + 1.4em;

    color: $second-color;
    background-color: $edt-back-color;
    border-radius: $bradius;

    #edt-time-container {
      padding-top: 42px;

      text-align: center;
      border-radius: $bradius 0 0 $bradius;
      box-shadow: 3px 0 3px $shadow-color;
      background-color: $edt-back-color;

      .column-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 100%;

        .edt-item {
          padding-left: 5px;
          padding-right: 5px;

          &:first-of-type {
            box-shadow: 0 -3px 3px $shadow-color;
          }

          &:last-of-type {
            margin-bottom: 7px;
          }
        }

        .full-hour {
          font-size: 16px;
          font-weight: bold;
        }

        .half-hour {
          font-size: 13px;
          text-align: right;
        }
      }

    } // #edt-time-container

    #edt-content {
      text-align: center;
      flex-grow: 2;

      #edt-day-title {
        height: 42px;
        line-height: 42px;

        font-size: 20px;
        font-weight: bold;
        //box-shadow: 0 3px 3px $shadow-color;
        background-color: $edt-back-color;
        border-radius: 0 $bradius 0 0;
      }

      .column-content {

        display: flex;
        height: 93%;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        .error {
          font: bold 18px $title-font;
        }

        .edt-item, .fill {

          box-shadow: 0 -2px 2px $shadow-color;
          background-color: $edt-back-color;

          &:first-child {
            box-shadow: 0 -3px 3px $shadow-color;
          }
        }

        .edt-item {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;

          width: 100%;

          h2 {
            font-size: 18px;
            margin-bottom: 8px;
          }

          p {
            font-size: 18px;
            line-height: 18px;

            img {
              width: 18px;
            }
          }
        }
      }

    } // #edt-content

  } // #edt-view-computer
} // @media

@media screen and (max-width: $device-break) {

  #edt-view-computer { display: none; }
  #edt-view-mobile {

  } // #edt-view-mobile
} // @media
