@import "style";

#debug {
  background-color: #dedede;
  padding-left: 16px;
}

body {
  > header, > main, > footer {
    padding: 0 3%;
  }

  > header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1%;
    padding-bottom: .5%;
    background-color: $second-color;

    color: $header-text-color;

    a { color: $header-text-color; }

    #header_title {
      margin: 0 3em 0 1em;

      img {
        width: 6.3em;
        vertical-align: bottom;
      }

      h1 {
        display: inline-block;
        vertical-align: 10px;

        color: $header-text-color;
        text-transform: uppercase;

        @media all and (max-width: $largeScreen-break) {
          #teck {
            letter-spacing: 1px;
          }

          #meb {
            text-align: center;
            letter-spacing: 2px;
          }
        }
        @media all and (min-width: $largeScreen-break) {
          #teck, #meb { display: inline; }
        }
      }
    }

    > nav {
      flex-grow: 5;

      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        li {
          width: 100%;
          height: 4em;
          line-height: 4em;

          margin: 0 1px;

          text-align: center;
          font-size: 1.4em;
          text-transform: uppercase;

          a {
            display: inline-block;
            width: 100%;
            height: 100%;
          }

        }

        li:hover {
          margin: 0;
          border-left:  1px SOLID $background-color;
          border-right: 1px SOLID $background-color;
        }
      }
    }

    #header_profile {
      flex-grow: 1;
      position: relative;

      text-align: center;
      cursor: pointer;

      img {
        display: block;
        width: 3.5em;
        margin: auto auto 5px;
      }

      > span.dropdown::after {
        position: relative;
        left: 3px;
        top: 14px;
      }

      ul {
        display: none;
        padding-top: .4em;
        max-width: 100%;
        position: absolute;

        background-color: $second-color;

        li {
          padding: .8em 1.3em;
          font-size: 1.2em;
          word-wrap: break-word;

          &:not(:last-of-type) {
            border-bottom: 1px SOLID #000000;
          }
        }
      }

    }

  }

  > main {

  }

  > footer {

  }

}
