@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import '_head';
// _head already imports _var

// ### GENERAL STYLE

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $text-font-family;
  color: $text-color;
  background-color: $background-color;
}

main {
  margin-left: 3%;
  margin-right: 3%;
}

a {
  color: lighten( $text-color, 5 );
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font, $text-font-family;
  font-size: 1.6em;
  color: $title-color;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: darken( $title-color, 5 );
}

li {
  list-style-type: none;
}


// ### CLASS
.dropdown::after {
  content: '';
  width: 0;
  height: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #ffffff;
}
