main {
  display: flex;
  width: 70%;
  height: 32em;
  margin-top: 5em;
  margin-left: 15%;

  section {
    border: 1.5px solid black;
    width: 50%;

    &:not(:first-of-type) {
      border-left: none;
    }
  }

  #rectangleGauche {
  }

  #rectangleDroit {
    text-align: center;

    #logo {
      width: 170px;
      margin-top: 10%;
    }

    form {

      div {
        margin: 1.2em 0;

        img {
          width: 45px;
          vertical-align: middle;
        }

        input[type="text"], input[type="password"] {
          margin-left: 1em;
        }
      }

      input[type="submit"] {
        //  margin-top: 10%;
      }
    }

  }
}