@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
#debug { background-color: #dedede; padding-left: 16px; display: none; }

#notifications { height: 30px; max-height: 30px; padding-left: 15px; overflow: hidden; background-color: #dedede; }
#notifications img { position: absolute; right: 20px; top: 3px; }

.notif { height: 30px; line-height: 30px; vertical-align: middle; }

body > header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.2em; color: #ffffff; background-color: #403e3f; }
body > header a { color: #ffffff; }
body > header #header_title { margin: 0 1%; }
body > header #header_title img { width: 1.7em; vertical-align: bottom; }
body > header > nav { flex-grow: 5; }
body > header > nav ul { display: flex; flex-flow: row nowrap; justify-content: space-around; align-items: center; }
body > header > nav ul li { width: 100%; height: 2em; line-height: 2em; border-left: 2px SOLID #fafafa; text-align: center; text-transform: uppercase; }
body > header > nav ul li:last-child { border-right: 2px SOLID #fafafa; }
body > header > nav ul li:hover a { color: #eac43d; }
body > header > nav ul li a { display: inline-block; width: 100%; height: 100%; }
body > header #header_profile { margin: 0 .9em; position: relative; text-align: center; cursor: pointer; }
body > header #header_profile img { display: block; width: 1.4em; margin: auto auto 5px; }
body > header #header_profile ul { display: none; position: absolute; right: 0; top: 1.95em; z-index: 100; background-color: #403e3f; }
body > header #header_profile ul li { padding: .2em .5em; border-top: 1px SOLID #000000; font-size: 1em; word-wrap: break-word; }

* { padding: 0; margin: 0; }

body { font-family: "Roboto", helvetica, arial, sans-serif; color: #202020; background-color: #fafafa; }

main { margin-left: 3%; margin-right: 3%; }

a { color: #2d2d2d; text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", "Roboto", helvetica, arial, sans-serif; font-size: 1.6em; color: #e7bd26; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #dbb118; }

li { list-style-type: none; }

.dropdown::after { content: ''; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 9px solid #ffffff; }

body main { margin: 0; }

td.abs-absence { background-color: #f7171b; }
td.abs-retard { background-color: #eb9a0e; }
td.abs-infirmerie { background-color: #02fca1; }
td.abs-controle { background-color: #010dfd; }
td.abs-several { background-color: #b203fd; }

#color-code { margin-bottom: 1em; }
#color-code ul { display: flex; flex-flow: row nowrap; justify-content: space-around; width: 70%; }
#color-code ul li::after { content: ''; display: inline-block; position: relative; top: 2px; width: 15px; height: 15px; border: 1px SOLID #403e3f; margin-left: 5px; }
#color-code ul li:nth-child(1)::after { background: linear-gradient(to right, #fafafa 50%, #c7c7c7 50%); }
#color-code ul li:nth-child(2)::after { background-color: #1bee00; }
#color-code ul li:nth-child(3)::after { background-color: #f7171b; }
#color-code ul li:nth-child(4)::after { background-color: #eb9a0e; }
#color-code ul li:nth-child(5)::after { background-color: #010dfd; }
#color-code ul li:nth-child(6)::after { background-color: #02fca1; }
#color-code ul li:nth-child(7)::after { background-color: #b203fd; }

#absences-table { display: flex; flex-flow: row nowrap; width: 100%; margin-bottom: 2.5em; }

#table-static { min-width: 16em; border-right: 2px SOLID #403e3f; z-index: 2; background-color: #fafafa; }
#table-static > .wrapper { display: flex; flex-flow: row nowrap; justify-content: flex-end; overflow: visible; }
#table-static > div:last-child { border-bottom: 2px SOLID #403e3f; }
#table-static > h1 { border-bottom: 2px SOLID #403e3f; line-height: 50px; font-size: 1.4em; font-weight: 600; text-align: center; color: #e7bd26; }

#table-group-list { width: 10%; }
#table-group-list p { max-width: 20px; padding-left: 8px; margin: auto; word-wrap: break-word; letter-spacing: 20px; overflow: hidden; }
#table-group-list p:not(:first-child) { border-top: 2px SOLID #403e3f; }

#table-stud-list { width: 90%; }
#table-stud-list .group-change { border-top: 1px SOLID #403e3f; }
#table-stud-list > div { position: relative; height: 25px; line-height: 25px; }
#table-stud-list > div:not(:last-of-type) { border-bottom: 1px SOLID #403e3f; }
#table-stud-list > div:nth-child(odd) { background-color: #c7c7c7; }
#table-stud-list > div > p { flex-basis: 7em; padding-left: 5px; font-size: 1em; white-space: nowrap; overflow: hidden; }
#table-stud-list > div > p + img { position: absolute; right: 4px; top: 4.5px; width: 16px; cursor: pointer; }
#table-stud-list > div > div { display: none; position: absolute; padding: .3em; z-index: 1; background-color: #ededed; border: 3px SOLID #2d2d2d; border-radius: .2em; font-family: Arial, sans-serif; right: 0; text-align: center; }
#table-stud-list > div > div p { line-height: 1.2em; }

#table-wrapper { overflow: auto; }
#table-wrapper table { border-spacing: 0; border-collapse: collapse; }
#table-wrapper table .group-change { border-top: 2px SOLID #403e3f; }
#table-wrapper table td { position: relative; height: 25px; min-width: 25px; font-size: 1em; border-right: 1px SOLID #403e3f; }
#table-wrapper table td.abs { cursor: pointer; }
#table-wrapper table td.abs p:nth-child(3) { font-weight: bold; }
#table-wrapper table td > div, #table-wrapper table td > button { z-index: 10; }
#table-wrapper table td > div { display: none; position: absolute; padding: .3em; z-index: 1; background-color: #ededed; border: 3px SOLID #2d2d2d; border-radius: .2em; font-family: Arial, sans-serif; top: 10px; left: 20px; min-width: 170px; }
#table-wrapper table td > div.abs-absence p:last-child { color: #f7171b; }
#table-wrapper table td > div.abs-retard p:last-child { color: #eb9a0e; }
#table-wrapper table td > div.abs-controle p:last-child { color: #010dfd; }
#table-wrapper table td > div.abs-infirmerie p:last-child { color: #02fca1; }
#table-wrapper table td > div:nth-of-type(2) { top: 85px; }
#table-wrapper table td > button { display: none; position: absolute; top: 85px; left: 20px; padding: 5px; border: 3px SOLID #2d2d2d; border-radius: .2em; background-color: #ededed; font-family: Arial, sans-serif; font-size: .95em; cursor: pointer; }
#table-wrapper table td.abs-justifiee { background-color: #1bee00; }
#table-wrapper table thead { text-align: center; border-bottom: 2px SOLID #403e3f; }
#table-wrapper table thead tr:first-child td { border-right: 2px SOLID #403e3f; }
#table-wrapper table thead td:last-child { border-right: 2px SOLID #403e3f; }
#table-wrapper table thead td.first-month-day:not(:first-of-type) { border-left: 2px SOLID #403e3f; }
#table-wrapper table tbody tr { border-bottom: 1px SOLID #403e3f; }
#table-wrapper table tbody tr:last-child { border-bottom: 2px SOLID #403e3f; }
#table-wrapper table tbody tr:nth-child(odd) { background-color: #c7c7c7; }
#table-wrapper table tbody th { text-align: left; }
#table-wrapper table#header-fixed { display: none; position: fixed; top: 0; z-index: 1; background-color: #fafafa; }

#edition-wrapper { display: none; align-items: center; justify-content: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; background-color: rgba(0, 0, 0, 0.65); }
#edition-wrapper.active { display: flex; }

#edition { padding: 1em 0; margin: auto; background-color: #fafafa; box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.8); text-align: center; }
#edition > header { margin-bottom: 12px; }
#edition > header h2, #edition > header h3 { color: #403e3f; }
#edition > header h3 { font-size: 1.2em; }
#edition div { display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; }
#edition section { width: 400px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); margin: 10px; }
#edition section h2 { width: 60%; padding-bottom: 4px; margin: 12px auto; border-bottom: 2px DASHED; }
#edition section article { margin-bottom: 10px; }
#edition section #am-time, #edition section #pm-time { display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; width: 240px; height: 100px; margin: auto; }
#edition section #am-time p, #edition section #pm-time p { box-sizing: border-box; width: 50%; height: 50px; line-height: 44px; border: 6px groove #b1acac; background-color: rgba(177, 172, 172, 0.2); text-align: center; font-size: 14px; font-weight: bold; }
#edition section #am-time p:first-child, #edition section #pm-time p:first-child { width: 100%; }
#edition section #am-time p.active, #edition section #pm-time p.active { border-color: #e7bd26; }
#edition section article:not(:first-of-type) > label, #edition section article:not(:first-of-type) > p { display: inline-block; width: 40%; margin: auto; font-size: 15px; }
#edition section article:not(:first-of-type) > label { margin-right: 12px; text-align: right; }
#edition section article:not(:first-of-type) > p { text-align: left; }
#edition section article:not(:first-of-type) select { padding: 2px; }
#edition footer button { width: 85px; padding: 5px; border-radius: 3px; }

/*# sourceMappingURL=absences.css.map */
