@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
#debug { background-color: #dedede; padding-left: 16px; }

#notifications { height: 30px; max-height: 30px; padding-left: 15px; overflow: hidden; background-color: #dedede; }
#notifications img { position: absolute; right: 20px; top: 3px; }

.notif { height: 30px; line-height: 30px; vertical-align: middle; }

body > header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.2em; color: #ffffff; background-color: #403e3f; }
body > header a { color: #ffffff; }
body > header #header_title { margin: 0 1%; }
body > header #header_title img { width: 1.7em; vertical-align: bottom; }
body > header > nav { flex-grow: 5; }
body > header > nav ul { display: flex; flex-flow: row nowrap; justify-content: space-around; align-items: center; }
body > header > nav ul li { width: 100%; height: 2em; line-height: 2em; border-left: 2px SOLID #fafafa; text-align: center; text-transform: uppercase; }
body > header > nav ul li:last-child { border-right: 2px SOLID #fafafa; }
body > header > nav ul li:hover a { color: #eac43d; }
body > header > nav ul li a { display: inline-block; width: 100%; height: 100%; }
body > header #header_profile { margin: 0 .9em; position: relative; text-align: center; cursor: pointer; }
body > header #header_profile img { display: block; width: 1.4em; margin: auto auto 5px; }
body > header #header_profile ul { display: none; position: absolute; right: 0; top: 1.95em; background-color: #403e3f; }
body > header #header_profile ul li { padding: .2em .5em; border-top: 1px SOLID #000000; font-size: 1em; word-wrap: break-word; }

* { padding: 0; margin: 0; }

body { font-family: "Roboto", helvetica, arial, sans-serif; color: #202020; background-color: #fafafa; }

main { margin-left: 3%; margin-right: 3%; }

a { color: #2d2d2d; text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", "Roboto", helvetica, arial, sans-serif; font-size: 1.6em; color: #e7bd26; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #dbb118; }

li { list-style-type: none; }

.dropdown::after { content: ''; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 9px solid #ffffff; }

body main { margin: 0; }

#color-code { margin-bottom: 1em; }
#color-code ul { display: flex; flex-flow: row nowrap; justify-content: space-around; width: 70%; }
#color-code ul li::after { content: ''; display: inline-block; position: relative; top: 2px; width: 15px; height: 15px; border: 1px SOLID #403e3f; margin-left: 5px; }
#color-code ul li:nth-child(1)::after { background: linear-gradient(to right, #fafafa 50%, #c7c7c7 50%); }
#color-code ul li:nth-child(2)::after { background-color: #1bee00; }
#color-code ul li:nth-child(3)::after { background-color: red; }
#color-code ul li:nth-child(4)::after { background-color: orange; }
#color-code ul li:nth-child(5)::after { background-color: rebeccapurple; }
#color-code ul li:nth-child(6)::after { background-color: cyan; }

#absences_table { display: flex; flex-flow: row nowrap; width: 100%; margin-bottom: 2.5em; }

#table_static { min-width: 16em; border-right: 2px SOLID #403e3f; z-index: 2; background-color: #fafafa; }
#table_static > .wrapper { display: flex; flex-flow: row nowrap; justify-content: flex-end; overflow: visible; }
#table_static > div:last-child { border-bottom: 2px SOLID #403e3f; }
#table_static > h1 { border-bottom: 2px SOLID #403e3f; line-height: 50px; font-size: 1.4em; font-weight: 600; text-align: center; color: #e7bd26; }

#table_group_list { width: 10%; }
#table_group_list p { max-width: 20px; padding-left: 8px; margin: auto; word-wrap: break-word; letter-spacing: 20px; overflow: hidden; }
#table_group_list p:not(:first-child) { border-top: 2px SOLID #403e3f; }

#table_stud_list { width: 90%; }
#table_stud_list .group-change { border-top: 1px SOLID #403e3f; }
#table_stud_list > div { position: relative; height: 25px; line-height: 25px; }
#table_stud_list > div:not(:last-of-type) { border-bottom: 1px SOLID #403e3f; }
#table_stud_list > div:nth-child(odd) { background-color: #c7c7c7; }
#table_stud_list > div p { flex-basis: 7em; padding-left: 5px; font-size: 1em; white-space: nowrap; overflow: hidden; }
#table_stud_list > div p + img { position: absolute; right: 4px; top: 4.5px; width: 16px; cursor: pointer; }
#table_stud_list > div > div { display: none; position: absolute; padding: .3em; z-index: 1; background-color: #ededed; border: 3px SOLID #2d2d2d; border-radius: .2em; right: 0; text-align: center; }

#table-wrapper { overflow: auto; }
#table-wrapper #new-absences-wrapper { display: none; align-items: center; justify-content: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 5; background-color: rgba(0, 0, 0, 0.65); }
#table-wrapper #new-absences-wrapper.active { display: flex; }
#table-wrapper #new-absences { width: 400px; padding: 1em 0; margin: auto; background-color: #fafafa; box-shadow: 0 0 3px rgba(0, 0, 0, 0.8); text-align: center; }
#table-wrapper #new-absences header, #table-wrapper #new-absences section { margin-bottom: 15px; }
#table-wrapper #new-absences h2, #table-wrapper #new-absences h3 { color: #403e3f; }
#table-wrapper #new-absences h3 { font-size: 1.2em; }
#table-wrapper #new-absences article { margin-bottom: 10px; }
#table-wrapper #new-absences label, #table-wrapper #new-absences p { display: inline-block; width: 48%; }
#table-wrapper #new-absences label { margin-right: 3%; text-align: right; }
#table-wrapper #new-absences p { text-align: left; }
#table-wrapper #new-absences button { width: 85px; padding: 5px; border-radius: 3px; }
#table-wrapper table { border-spacing: 0; border-collapse: collapse; }
#table-wrapper table .group-change { border-top: 2px SOLID #403e3f; }
#table-wrapper table td { position: relative; height: 25px; font-size: 1em; border-right: 1px SOLID #403e3f; }
#table-wrapper table td div { display: none; position: absolute; padding: .3em; z-index: 1; background-color: #ededed; border: 3px SOLID #2d2d2d; border-radius: .2em; top: 10px; left: 20px; min-width: 170px; }
#table-wrapper table td div p:not(:last-child) { color: #202020; }
#table-wrapper table td div:nth-child(2) { top: 90px; }
#table-wrapper table td div:nth-child(3) { top: 170px; }
#table-wrapper table thead { text-align: center; border-bottom: 2px SOLID #403e3f; }
#table-wrapper table thead tr:first-child td { border-right: 2px SOLID #403e3f; }
#table-wrapper table thead td { min-width: 1em; padding: 0 .2em; border-right: 1px SOLID #403e3f; }
#table-wrapper table thead td:last-child { border-right: 2px SOLID #403e3f; }
#table-wrapper table thead .first_month_day:not(:first-of-type) { border-left: 2px SOLID #403e3f; }
#table-wrapper table tbody tr { border-bottom: 1px SOLID #403e3f; }
#table-wrapper table tbody tr:last-child { border-bottom: 2px SOLID #403e3f; }
#table-wrapper table tbody tr:nth-child(2n+1) { background-color: #c7c7c7; }
#table-wrapper table tbody th { text-align: left; }
#table-wrapper table td.abs-justifiee { background-color: #1bee00; }
#table-wrapper table .abs-absence { background-color: red; color: red; }
#table-wrapper table .abs-retard { background-color: orange; color: orange; }
#table-wrapper table .abs-infirmerie { background-color: cyan; color: cyan; }
#table-wrapper table .abs-controle { background-color: rebeccapurple; color: rebeccapurple; }
#table-wrapper table td[class^="abs-"] { cursor: pointer; }
#table-wrapper table#header-fixed { display: none; position: fixed; top: 0; z-index: 1; background-color: #fafafa; }

/*# sourceMappingURL=absences.css.map */
