@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
#debug { background-color: #dedede; padding-left: 16px; }

#notifications { height: 30px; max-height: 30px; padding-left: 15px; overflow: hidden; background-color: #dedede; }
#notifications img { position: absolute; right: 20px; top: 3px; }

.notif { height: 30px; line-height: 30px; vertical-align: middle; }

body > header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.2em; color: #ffffff; background-color: #403e3f; }
body > header a { color: #ffffff; }
body > header #header_title { margin: 0 1%; }
body > header #header_title img { width: 1.7em; vertical-align: bottom; }
body > header > nav { flex-grow: 5; }
body > header > nav ul { display: flex; flex-flow: row nowrap; justify-content: space-around; align-items: center; }
body > header > nav ul li { width: 100%; height: 2em; line-height: 2em; border-left: 2px SOLID #fafafa; text-align: center; text-transform: uppercase; }
body > header > nav ul li:last-child { border-right: 2px SOLID #fafafa; }
body > header > nav ul li:hover a { color: #eac43d; }
body > header > nav ul li a { display: inline-block; width: 100%; height: 100%; }
body > header #header_profile { margin: 0 .9em; position: relative; text-align: center; cursor: pointer; }
body > header #header_profile img { display: block; width: 1.4em; margin: auto auto 5px; }
body > header #header_profile ul { display: none; position: absolute; right: 0; top: 1.95em; background-color: #403e3f; }
body > header #header_profile ul li { padding: .2em .5em; border-top: 1px SOLID #000000; font-size: 1em; word-wrap: break-word; }

* { padding: 0; margin: 0; }

body { font-family: "Roboto", helvetica, arial, sans-serif; color: #202020; background-color: #fafafa; }

main { margin-left: 3%; margin-right: 3%; }

a { color: #2d2d2d; text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", "Roboto", helvetica, arial, sans-serif; font-size: 1.6em; color: #e7bd26; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #dbb118; }

li { list-style-type: none; }

.dropdown::after { content: ''; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 9px solid #ffffff; }

body main { margin: 0; }

#absences_table { display: flex; flex-flow: row nowrap; width: 100%; }
#absences_table > div > p { min-width: 7em; border-right: 2px SOLID #403e3f; }
#absences_table > div > p:first-child { border-bottom: 2px SOLID #403e3f; line-height: 50px; font-size: 1.4em; font-weight: 600; text-align: center; color: #e7bd26; }
#absences_table > div > p:not(:first-child) { height: 25px; padding: 0; line-height: 1.3em; font-size: 1em; border-bottom: 1px SOLID #403e3f; }
#absences_table > div > p:last-child { border-bottom: 2px SOLID #403e3f; }

#absence_table_wrapper { overflow: auto; }

#absences_table_body { width: 100%; border-spacing: 0; border-collapse: collapse; }
#absences_table_body td { position: relative; height: 25px; font-size: 1em; border-right: 1px SOLID #403e3f; }
#absences_table_body td div { display: none; position: absolute; top: 10px; left: 20px; min-width: 170px; padding: .4em; background-color: #ededed; border: 3px SOLID rgba(0, 0, 0, 0.6); border-radius: .2em; }
#absences_table_body td div p:not(:last-child) { color: #202020; }
#absences_table_body thead { text-align: center; border-bottom: 2px SOLID #403e3f; }
#absences_table_body thead td { min-width: 1em; padding: 0 .2em; border-right: 1px SOLID #403e3f; }
#absences_table_body tbody tr { border-bottom: 1px SOLID #403e3f; }
#absences_table_body tbody tr:last-child { border-bottom: 2px SOLID #403e3f; }
#absences_table_body tbody tr:nth-child(2n+1) { background-color: #c7c7c7; }
#absences_table_body tbody th { text-align: left; }
#absences_table_body td.abs-justifiee { background-color: lightgreen; }
#absences_table_body .abs-absence { background-color: red; color: red; }
#absences_table_body .abs-retard { background-color: orange; color: orange; }
#absences_table_body .abs-infirmerie { background-color: cyan; color: cyan; }
#absences_table_body .abs-controle { background-color: rebeccapurple; color: rebeccapurple; }
#absences_table_body td[class^="abs-"] { cursor: pointer; }

/*# sourceMappingURL=absences.css.map */
