@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
#debug { background-color: #dedede; padding-left: 16px; display: none; }

#notifications { height: 30px; max-height: 30px; padding-left: 15px; overflow: hidden; background-color: #dedede; }
#notifications img { position: absolute; right: 20px; top: 3px; }

.notif { height: 30px; line-height: 30px; vertical-align: middle; }

body > header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.2em; color: #ffffff; background-color: #403e3f; }
body > header a { color: #ffffff; }
body > header #header_title { margin: 0 1%; }
body > header #header_title img { width: 1.7em; vertical-align: bottom; }
body > header > nav { flex-grow: 5; }
body > header > nav ul { display: flex; flex-flow: row nowrap; justify-content: space-around; align-items: center; }
body > header > nav ul li { width: 100%; height: 2em; line-height: 2em; border-left: 2px SOLID #fafafa; text-align: center; text-transform: uppercase; }
body > header > nav ul li:last-child { border-right: 2px SOLID #fafafa; }
body > header > nav ul li:hover a { color: #eac43d; }
body > header > nav ul li a { display: inline-block; width: 100%; height: 100%; }
body > header #header_profile { margin: 0 .9em; position: relative; text-align: center; cursor: pointer; }
body > header #header_profile img { display: block; width: 1.4em; margin: auto auto 5px; }
body > header #header_profile ul { display: none; position: absolute; right: 0; top: 1.95em; z-index: 100; background-color: #403e3f; }
body > header #header_profile ul li { padding: .2em .5em; border-top: 1px SOLID #000000; font-size: 1em; word-wrap: break-word; }

* { padding: 0; margin: 0; }

body { font-family: "Roboto", helvetica, arial, sans-serif; color: #202020; background-color: #fafafa; }
body #body:after { content: ''; display: table; clear: both; }
body main, body footer { margin-left: 3%; margin-right: 3%; }

a { color: #2d2d2d; text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", "Roboto", helvetica, arial, sans-serif; font-size: 1.6em; color: #e7bd26; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #dbb118; }

li { list-style-type: none; }

.dropdown::after { content: ''; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 9px solid #ffffff; }

main div.empty { font-family: Arial, sans-serif; font-size: 1.4em; text-align: center; }
main section { margin-bottom: 1em; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius: 5px; }
main section header { display: flex; width: 100%; height: 2.2em; line-height: 2.2em; margin: 5px 10px 5px 0; border-radius: 5px 5px 0 0; background-color: #403e3f; }
main section header h1, main section header h2, main section header h3 { font-size: 1.2em; }
main section header h1 { width: 5em; box-shadow: 5px 0 2px rgba(0, 0, 0, 0.35); text-align: center; }
main section header h2 { flex-grow: 2; padding-left: 12px; }
main section header h3 { width: 10em; margin-right: 15px; text-align: right; }
main section > div { display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; padding: 5px 1em 8px; }
main section article { display: flex; flex-flow: column nowrap; width: 30%; height: 6em; padding: .3em .7em .4em; box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); border-radius: 3px; text-align: center; }
main section article h2 { height: 1.6em; font-size: 1.2em; margin-bottom: 3px; }
main section article div { display: flex; flex-flow: column wrap; align-items: flex-start; justify-content: space-around; height: 4.4em; }
main section article p:first-of-type { margin-top: 8px; }
main section article.dspromo { background-color: #a6a4a5; }

/*# sourceMappingURL=notes.css.map */
