@import '../materialize';

.toast {
  li {
    @extend .valign-wrapper;
    line-height: 2rem;
    padding: 3px 7px;

    word-break: keep-all;
    cursor: pointer;
  }

  .material-icons {
    @extend .clearfix;
    font-size: 24px;

    &:not(.right) {
      @extend .left;
    }
  }
}

@media #{$small-and-down} {
  .toast {
    > div, > div > ul{
      width: 100%;
    }
  }
}

.notif-success {
  @extend .light-green, .accent-3;
}

.notif-warning {
  @extend .amber;
}

.notif-fail {
  @extend .red;
}

.arrow-rotate {
  transition: transform .4s ease;

  &.rotate {
    transform: rotate(-90deg);
  }
}
