#tableauAbs {
	border-collapse: collapse; 
	margin-bottom: 2em; 
	width: 90%; 
	margin-left: 5%; 
	font-family: sans-serif; 
	box-shadow: 1px 1px 2px #555;
}

#tableauAbs thead {
    background-color: #4b4c4e;
}

#tableauAbs td {
	border: 0.5px solid grey; 
	height: 2em; 
	width: 30%;
}
