@media screen and (min-width: 980px) {
  main {
    width: 70%; }

  #edt-view-mobile {
    display: none; }

  #edt-view-computer {
    display: flex;
    flex-flow: row nowrap;
    height: 85%;
    width: 20%;
    max-width: 20%;
    position: absolute;
    top: 10%;
    right: 3.2em;
    color: #403e3f;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px; }
  #edt-view-computer #edt-time-container {
    padding-top: 42px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.04);
    background-color: rgba(0, 0, 0, 0.02); }
  #edt-view-computer #edt-time-container .column-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%; }
  #edt-view-computer #edt-time-container .column-content .edt-item {
    padding-left: 5px;
    padding-right: 5px; }
  #edt-view-computer #edt-time-container .column-content .edt-item:first-of-type {
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.04); }
  #edt-view-computer #edt-time-container .column-content .edt-item:last-of-type {
    margin-bottom: 7px; }
  #edt-view-computer #edt-time-container .column-content .full-hour {
    font-size: 16px;
    font-weight: bold; } }
@media screen and (min-width: 980px) and (min-height: 800px) {
  #edt-view-computer #edt-time-container .column-content .half-hour {
    font-size: 13px;
    text-align: right; } }
@media screen and (min-width: 980px) and (max-height: 800px) {
  #edt-view-computer #edt-time-container .column-content .half-hour {
    display: none; } }
@media screen and (min-width: 980px) {
  #edt-view-computer #edt-content {
    text-align: center;
    flex-grow: 2; }
  #edt-view-computer #edt-content #edt-day-title {
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 0 10px 0 0; }
  #edt-view-computer #edt-content .column-content {
    display: flex;
    height: 93%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  #edt-view-computer #edt-content .column-content .error {
    font: bold 18px "Open Sans"; }
  #edt-view-computer #edt-content .column-content .edt-item, #edt-view-computer #edt-content .column-content .fill {
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.04);
    background-color: rgba(0, 0, 0, 0.02); }
  #edt-view-computer #edt-content .column-content .edt-item:first-child, #edt-view-computer #edt-content .column-content .fill:first-child {
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.04); }
  #edt-view-computer #edt-content .column-content .edt-item {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center; }
  #edt-view-computer #edt-content .column-content .edt-item h2 {
    font-size: 19px; }
  #edt-view-computer #edt-content .column-content .edt-item p {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden; }
  #edt-view-computer #edt-content .column-content .edt-item p img {
    height: 16px;
    margin-right: 3px;
    vertical-align: middle; } }
@media screen and (max-width: 980px) {
  #edt-view-computer {
    display: none; } }

/*# sourceMappingURL=edt_day.css.map */
