@import "../style";

main li.depliant{
  list-style-type: square;

  &:hover{
    cursor: pointer;
  }
}
main li{
  list-style-type: circle;
  font-size: 1em;
  &:hover{
    cursor: auto;
  }
  strong:last-of-type{
    color:red;
  }
}
.editable{
  color:blue;
}
li a img{
  height: 15px;
}

#ulroot ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}
